body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("../images/fondo.jpg");

}


/* CONTENEDORES */

.principal {
  display: block;
  width: 960px;
  margin: 5px auto;
  border: 1px;
  background-color: white;
}

header {
  width: 950px;
  height:100px;
  margin: 5px auto;
  padding: 0px 5px 0 5px;
  text-align: right;
  border: 1px solid #999999;
  border-radius: 5px 5px;
  box-shadow: rgb(150,150,150) 2px 2px 4px;
  background-image: url("../images/header.jpg");
}

footer {
  display: block;
  float: left;
  width: 950px;
  height:50px;
  margin: 5px auto;
  padding: 0px 5px 0 5px;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 5px 5px;
  box-shadow: rgb(150,150,150) 2px 2px 4px;
  background-color: #666;
}

.contenido {
  display: block;
  float: left;
  width: 710px;
  margin: 5px 10px 5px 0px;
  padding: 5px;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 5px 5px;
  box-shadow: rgb(150,150,150) 2px 2px 4px;
}

.bloque_derecho {
  display: block;
  float: left;
  width: 211px;
  margin: 5px 0px 5px 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 5px 5px;
  box-shadow: rgb(150,150,150) 2px 2px 4px;
  background-color: white;
}

.contenido_lateral {
    border: 1px solid #999999;
    border-radius: 5px 5px;
    padding-bottom: 5px;
}

.login {
  display: block;
  float: right;
  padding: 10px;
  width: 350px;
  text-align: right;
}

.leyenda {
  display: block;
  float: left;
  width: : 150px;
  margin: 0 10px 0 5px;
}

.carro {
  display:block;
  float: left;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  background-image: url("../images/finalizar36.png");
  background-position: left-center;
}

.icono_encabezado {
  width: 190px;
  height: 24px;
  padding: 0 0 0 25px;
  text-align: left;
  background-image: url("../images/titulo_icon.png");
  background-repeat: no-repeat;
}

/* FORMATOS HIPERENLACES */

/* FIN FORMATOS HIPERENLACES */


/* FORMATOS PÁRRAFO */

.titulo {
  text-align: left;
  color: #06c;
  font: bold 20px verdana, sans-serif;
}

.titulo2 {
  text-align: center;
  color: #06c;
  font: bold 18px verdana, sans-serif;
}

.subtitulo {
  text-align: center;
  color: #06c;
  font: bold 15px verdana, sans-serif;
}

p {
  text-align: center;
  font: 14px verdana, sans-serif;
}

p.copyright {
  color: #aaa;
  text-align: center;
  font-size: 0.6em;
  font-weight: 200;
}

p.footer {
  color: #fff;
  text-align: center;
  font-size: 0.6em;
  font-weight: 200;
}

.derecha {
  text-align: right;
  padding-right: 10px;
}

.izquierda {
  text-align: left;
  padding-left: 10px;
}

.indentado {
  text-indent: 50px;
  text-align: left;
}

.resaltar {
  color: blue;
  font-weight: bold;
}

.error {
  margin: 3px;
  font-size: 1.3em;
  color: #ff0000;
  background-color: #bbbbbb;
  border: 2px solid #ff8888;
}

.leyenda_carro {
  color: #06c;
  text-align: right;
  margin-top: -1px;
  padding-right: 2px;
  font-size: 0.7em;
  font-weight: bolder;
}

/* FIN FORMATOS PÁRRAFO */


/* DISEÑO DE TABLA */

  table {
    margin: auto;
    text-align: center;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px 5px;  }

  th {
    background-color: #ddd;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
  }

  tr {
    height: 2.2em;
    font-size: 1em;
  }

  .libre {
/*    background-color: #64e6ff; */
    font-size: 0.8em;
  }

  .ocupado {
/*    background-color: #fff; */
    font-size: 0.8em;
  }

  .reservado_usuario{
/*    background-color: #e1bc77; */
    font-size: 0.8em;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

  tr:nth-child(odd) {
    background-color: #eee;
  }


/*  tbody tr:hover {
    background-color: #ffa500;
  }*/

/* FIN DISEÑO DE TABLA */

/* DISEÑO IMAGENES */

.icono {
  width: 24px;
  height: 24px;
}

.icono_leyenda {
  display: block;
  float: left;
  margin: 0 0 0 15px;
  width: 36px;
  height: 36px;
}

img.user {
  vertical-align:  middle;
}

/* FIN DISEÑO IMAGENES */

/* DISEÑO DE FORMULARIOS */

.form_cont {
  float: left;
  width: 960px;
  margin: 15px auto;
  padding: 5px;
  text-align: center;
}

.form_botonera {
  width: 200px;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
}

label {
  float: left;
  width: 120px;
  text-align: left;
  margin: .5em 0 0 0;
}

input.filtrar {
  width: 170px;
  height: 30px;
  padding: 0 0 0 25px;
  text-align: left;
  font: normal bold 20px  arial, sans-serif;
  background-image: url("../images/filtro.png");
  background-repeat: no-repeat;
  background-position: left center;
}

input[placeholder] {
  font: italic normal 16px arial, sans-serif;
}

select {
  text-align: left;
  height: 20px;
  margin: 5px;
}

/*input:required {
  border: 3px solid red;
  background: yellow;
}

input:valid {
  border: 3px solid green;
  background: #fff;
}

input:invalid {
  border: 3px solid red;
  background: #000;
  box-shadow: 0 0 10px 2px red;
  color: #888;
}*/